body {
  background-color: #CCC;
  font-family: 'Raleway', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.card_large {
  background-color: #FFF;
  height: 375px;
  border-radius: 10px;
  overflow: hidden;
}

.card canvas {
  width: 100%;
  min-height: 210px;
}

#FundsFlow {
  margin-bottom: 25px;
}

.card .about {
  height: 170px;
  padding: 20px;
  box-sizing: border-box;
}

.card .about h3, .card .about .lead {
  margin: 0;
  font-weight: 400;
}

.card .about h3 {
  font-size: 24px;
}

.card .about .lead {
  color: #aaa;
}

.card .info {
  float: left;
  padding: 10px 30px 10px 0;
}

.card .info p {
  font-size: 11px;
  color: #aaa;
  font-weight: 300;
}

.legends {
  padding-top: 20px;
  overflow: hidden;
}

.legend {
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.legend--FUA {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #233760;
  margin-right: 2px;
}

.legend--ACC {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cc2828;
  margin-right: 2px;
}

.legend--this {
  background-color: #233760;
}

.legend--prev {
  background-color: #cc2828;
}

.axis {
  position: absolute;
  color: #FFFFFF;
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  bottom: 0;

}

.axis .tick {
  flex: 1;
  position: relative;
  overflow: hidden;
  /* this hides the ticks when they are not being displayed */
  opacity: 0.4;
  font-size: 0.8em;
  text-align: center;
  line-height: 30px;
  padding-bottom: 10px;
  padding-top: 50%;
}

.FundsFlow .axis .tick {
  padding-top: 10px;
  opacity: 0.6;
  overflow: visible;
}

.FundsFlow .axis .tick::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.FUA .axis .tick:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.axis .tick .value {
  transition: all 0.3s;
  border-radius: 2px;
  width: 100%;
  line-height: 30px;
  color: #444;
  position: absolute;
}

.FUA .axis .tick .value {
  transform: translateY(-40px);
  top: 20px;
  opacity: 0;
}

.FundsFlow .axis .tick .value {
  transform: translateY(-200px);
  opacity: 0;
  top: 20px;
  left: 0;
}

/*
.FundsFlow .axis .tick .value {
  transform: translateY(-240px);
}
*/

.axis .tick:hover .value.value--FUM {
  transform: translateY(-25px);
  display: block;
  opacity: 1;
  color: black;
  font-weight: 700;
}

.axis .tick:hover .value.value--ACC {
  transform: translateY(-5px);
  display: block;
  opacity: 1;
  color: black;
  font-weight: 700;
}

/*
.axis .tick:hover .value.value--FFIN {
  transform: translateY(-200px);
  display: block;
  opacity:0.5;
}

.value.value--FFIN {
  color: #fff;
  font-weight: bold;
}

.axis .tick:hover .value.value--FFOUT {
  transform: translateY(-25px);
  display: block;
  opacity:0.5;
}

.value.value--FFOUT {
  color: #fff;
  font-weight: bold;
}
*/

/* Animated background, credits: Manuel Pinto, https://codepen.io/P1N2O/pen/pyBNzX */

.card.FundsFlow {
  background: #4b6cb7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #233760, #4b6cb7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #233760, #4b6cb7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  animation: bg 15s infinite;
}

.selected {
  width: 90%;
  margin: auto;
  top: -100px;
}

.selected span {
  padding: 10px;
  font-weight: 300;
}

.white-text {
  color: #FFF !important;
}
.black-text{
  color: #000 !important;
  font-weight: 500;
}

.month-number {
  display: block;
}

.month-name {
  display: block;
}

@keyframes bg {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
